.about-agency__block {
	max-width: 113.963rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.about-agency__text {
	font-family: $Ffglobal;
	color: $Fcgeneral;
	width: 50%;
	&-title {
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		text-transform: capitalize;
	}
	&-subtitle {
		padding-top: 4rem;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
	}
	&-button {
		font-size: 18px;
		padding: 1.5rem 4.4rem 1.5rem 4.5rem;
		border-radius: 3rem;
		background-color: #ffc93e;
		font-family: "Inter";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-top: 4.8rem;
	}
}
.about-agency__photos {
	&::after {
		content: url(../../assets/icons/circle_line.png);
		position: absolute;
		right: 0;
		top: 85%;
		left: 92%;
	}
}
.statistics-bars {
	display: flex;
	justify-content: space-between;
	margin: 0 23.7rem;
	.statistics-bar {
        padding-top: 14.1rem;
		&__title {
			color: $Fcgeneral;
			font-family: $Ffglobal;
			font-weight: 700;
			font-size: 48px;
			text-align: center;
		}
		&__subtitle {
			color: $Fcgeneral;
			font-family: $Ffglobal;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
		}
	}
}
