.approach {
	padding-top: 12rem;
}
.approach-background {
	width: 100%;
	background: linear-gradient(to right, #fec83e 40%, $Bgcolorsection 40%);
	.main-container--approach-container {
		display: flex;
		justify-content: space-between;
		// max-width: 124.4rem;
		padding: 15.1rem 0rem 0rem 11rem;
	}
}
.approach-demonstration {
	position: relative;
	bottom: 5rem;
	z-index: 1;
	// ::after{
	//     position: absolute;
	//     content: url(../../assets/icons/circle_line.png);

	// }
	&__image {
		max-width: 65rem;
		min-height: 66.6rem;
		border-radius: 70px;
	}
}
.approach-text {
	font-family: $Ffglobal;
	color: $Fcgeneral;
	padding-left: 10rem;
	text-align: center;
	
	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		text-align: left;
		position: relative;

		&::after {
			position: absolute;
			content: url(../../assets/icons/circle_line.png);
			right: 67rem;
			bottom: 0;
			z-index: 0;
		}
	}
	&__subtitles {
		color: $Fcparagraph;
		display: flex;
		flex-direction: column;
		padding-top: 4.2rem;
		text-align: left;
	}
	.approach-text__subtitles--top {
		padding-top: 5rem;
	}
	&__subtitle {
		display: flex;
		gap: 2.25rem;
		&::before {
			content: url(../../assets/icons/check-circle.png);
		}
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}
	&__comments {
		padding: 1.8rem 0 0 5.4rem;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		width: 80%;
	}
}
