.banner-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-text {
	&__title {
		float: left;
		font-family: $Ffglobal;
		font-weight: 700;
		font-size: 150px;
		color: $Fcgeneral;
		&::after {
			content: "";
			background-image: url(../../assets/icons/dotted_line.png);
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			left: 53%;
			top: 108px;
			width: 40vw;
			height: 765px;
		}
	}
	&__title-sub {
		font-family: $Ffglobal;
		font-weight: 700;
		font-size: 150px;
		color: $Fcgeneral;
		padding: 0 0 0 6rem;
	}
}
.banner-text {
	&__subtitle {
		max-width: 53.5rem;
		font-family: $Ffglobal;
		font-size: 24px;
		color: $Fcparagraph;
		padding: 2rem 0;
		width: 515px;
		min-height: 70px;
		padding: 2rem 0;
	}
}
.banner-text__world-class {
	max-width: 200px;
	float: left;
}
.banner-text-container {
	display: flex;
	justify-content: end;
	margin-left: 30%;
	position: relative;
	&::before {
		content: "";
		background-image: url(../../assets/icons/play\ video.svg);
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 10%;
		z-index: 11;
		width: 150px;
		height: 150px;
		backdrop-filter: blur(25px);
		border-radius: 50%;
	}
}
.banner-text__development {
	width: 375px;
	position: relative;
	top: -150px;
	right: -1rem;
	border-radius: 65px;
}
.banner-text__scroll-down {
	font-family: $Ffglobal;
	font-size: 14px;
	color: $Fcparagraph;
	text-decoration: none;
	display: block;
	transform: rotate(270deg);
	position: relative;
	top: -5rem;
	left: 0px;
	transition: 0.5s;
	cursor: pointer;

	&:hover {
		color: $Bgcolorbutton;
	}
	&::before {
		content: "◀";
		display: inline-block;
		padding: 0 5px;
	}
}

.banner-text__perfomance-img {
	position: absolute;

	top: 16rem;
	left: -45rem;
	border-radius: 30px;
	z-index: 1;
	max-width: 241px;
}
.banner-text__perfomance-circle {
	position: absolute;
	left: -31rem;
	top: 37rem;
	z-index: 0;
	width: 9vw;
}

@media (max-width: 1000px) {
	.banner-text {
		&__title {
			font-size: 120px;
			&::after {
				content: "";
				background-image: url(../../assets/icons/dotted_line\ adaptiv.svg);
				left: 20%;
				top: 110px;
				width: 60vw;
			}
		}
		&__title-sub {
			font-size: 120px;
			padding: 0 0 0 8rem;
		}
	}
	.banner-text__world-class {
		max-width: 170px;
		float: left;
	}
	.banner-text__development {
		width: 300px;
		position: relative;
		top: 20px;
		right: -24rem;
		border-radius: 65px;
	}
	.banner-text-container {
		margin: 0 0 25% 5%;
		&::before {
			content: "";
			background-image: url(../../assets/icons/play\ video.svg);
			bottom: -70px;
			width: 120px;
			height: 120px;
			right: -75px;
			&:hover {
				transform: rotate(360deg);
			}
		}
	}
	.banner-text__perfomance-img {
		position: absolute;
		top: 14.5rem;
		left: -40rem;
		width: 20vw;
		height: 30vh;
	}
	.banner-text__perfomance-circle {
		position: absolute;
		left: -13rem;
		top: 55rem;
		z-index: 0;
		width: 12vw;
	}
	.banner-text__scroll-down {
		position: relative;
		left: 25%;
		top: 5%;
	}
}

@media (max-width: 500px) {
	.banner-text {
		max-width: 500px;
		&__title {
			font-size: 70px;
			&::after {
				left: 17%;
				top: 8%;
				width: 340px;
			}
		}
		&__title-sub {
			font-size: 70px;
			padding: 0;
		}
	}
	.banner-text {
		&__subtitle {
			max-width: 80rem;
			font-size: 18px;
			padding: 2rem 0;
			width: 515px;
			min-height: 70px;
			padding: 3rem 0;
		}
	}
	.banner-text__world-class {
		max-width: 100px;
	}
	.banner-text__development {
		width: 270px;
		position: static;
		margin-bottom: 3rem;
	}
	.banner-text-container {
		flex-direction: column;
		margin: 0 0 0 -10%;
		&::before {
			content: "";
			background-image: url(../../assets/icons/play\ video.svg);
			bottom: 220px;
			width: 120px;
			height: 120px;
			right: 150px;
		}
	}
	.banner-text__scroll-down {
		display: none;
	}
	.general__button-baner {
		display: none;
	}
	.banner-text__perfomance-img {
		position: relative;
		width: 41vw;
		top: 100px;
		left: 30px;
		z-index: 0;
	}
	.banner-text__perfomance-circle {
		position: absolute;
		left: 35rem;
		top: 680px;
		z-index: 0;
		width: 19vw;
	}
}

@media (max-width: 414px) {
	.banner-text__title {
		position: relative;
		&::after {
			position: absolute;
			right: 0.5em;
		}
	}
}
