.banner-text {
	text-align: center;
	padding-top: 6.9rem;
	max-width: 700px;
	margin: 0 auto;

	&__title {
		font-weight: 70rem;
		font-size: 15rem;
		line-height: 18.2rem;
		color: $Fcgeneral;
		font-family: $Ffglobal;
		&--active {
			padding-right: 21rem;
		}
	}
	&__subtitle {
		font-family: $Ffglobal;
		font-style: normal;
		font-weight: 40rem;
		font-size: 2.4rem;
		line-height: 4rem;
		color: $Fcgeneral;
		max-width: 515px;
		text-align: left;
		padding-top: 4rem;
	}
}

.banner-text__perfomance {
	position: relative;
	border-radius: 30px;
	bottom: 5rem;
}
