html {
	font-size: 10px;
	scroll-behavior: smooth;
}

.wrapper {
	background-color: $Bgcolor;
	background-image: url(../../../src/assets/icons/Background\ elements.svg);
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	overflow-x: hidden;
}
.main-container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0px 15px;
}

.general-button {
	display: block;
	border: 1px solid white;
	font-size: 18px;
	padding: 1.5rem 4.4rem 1.5rem 4.5rem;
	border-radius: 3rem;
	background-color: $Bgcolorbutton;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin-top: 4.4rem;
	transition: 1s;
	&:hover {
		background-color: transparent;
		cursor: pointer;
		color: $Bgcolorbutton;
		border: 1px solid $Bgcolorbutton;
	}
}

@media (max-width: 1000px) {
	html {
		font-size: 5px;
	}
}

@media (max-width: 500px) {
	html {
		font-size: 5px;
	}
	.pagination {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $Fcgeneral;
		position: relative;
		margin: 0 auto;
		&::after {
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $Fcgeneral;
			position: absolute;
			left: 40px;
		}
		&::before {
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $Bgcolorbutton;
			position: absolute;
			right: 40px;
		}
	}
	.general-button {
		border-radius: 50px;
	}
}
