html{
    font-size: 10px;
    scroll-behavior: smooth;
}
.wrapper{
    background-color: $Bgcolor;
    // background-image: url(../../../src/assets/icons/Background\ elements.svg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    

}
