@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Inter&family=Open+Sans&family=Raleway&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #172048;
  background-image: url(../../../src/assets/icons/Background\ elements.svg);
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.main-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0px 15px;
}

.general-button {
  display: block;
  border: 1px solid white;
  font-size: 18px;
  padding: 1.5rem 4.4rem 1.5rem 4.5rem;
  border-radius: 3rem;
  background-color: #ffc93e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4.4rem;
  -webkit-transition: 1s;
  transition: 1s;
}
.general-button:hover {
  background-color: transparent;
  cursor: pointer;
  color: #ffc93e;
  border: 1px solid #ffc93e;
}

@media (max-width: 1000px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 5px;
  }
  .pagination {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
  }
  .pagination::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    left: 40px;
  }
  .pagination::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffc93e;
    position: absolute;
    right: 40px;
  }
  .general-button {
    border-radius: 50px;
  }
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15rem 0 15rem;
  padding-top: 3rem;
}
.main-header .header-logo__dalio-icon {
  cursor: pointer;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.header-navigation__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter";
}
.header-navigation__link:hover {
  color: #ffc93e;
}

.header-content__burger-menu {
  width: 16.5px;
  height: 1px;
  background-color: #FFFFFF;
  position: relative;
}
.header-content__burger-menu::after {
  content: "";
  width: 16.5px;
  height: 1px;
  background-color: #FFFFFF;
  bottom: 6px;
  position: absolute;
}
.header-content__burger-menu::before {
  content: "";
  width: 16.5px;
  height: 1px;
  background-color: #FFFFFF;
  top: 6px;
  position: absolute;
}

@media (max-width: 1000px) {
  .banner-text__title {
    font-size: 120px;
  }
  .banner-text__title::after {
    content: "";
    background-image: url(../../assets/icons/dotted_line\ adaptiv.svg);
    left: 20%;
    top: 110px;
    width: 60vw;
  }
  .banner-text__title-sub {
    font-size: 120px;
    padding: 0 0 0 4rem;
  }
  .banner-text__world-class {
    max-width: 170px;
    float: left;
  }
  .banner-text__development {
    width: 300px;
    position: relative;
    top: 20px;
    right: 2rem;
    border-radius: 65px;
  }
  .banner-text-container {
    margin: 0 0 25% 5%;
  }
  .banner-text-container::before {
    content: "";
    background-image: url(../../../../src/assets/image/icons/play\ video.svg);
    bottom: -70px;
    width: 120px;
    height: 120px;
    right: 20px;
  }
  .banner-text__perfomance-img {
    position: absolute;
    top: 14.5rem;
    left: 0rem;
    width: 24vw;
  }
  .banner-text__perfomance-circle {
    position: absolute;
    left: 11rem;
    top: 29rem;
    z-index: 0;
    width: 12vw;
  }
  .banner-text__scroll-down {
    position: relative;
    left: 25%;
    top: 5%;
  }
}
@media (max-width: 1000px) and (max-width: 500px) {
  .header-navigation {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header-logo__dalio-icon {
    cursor: pointer;
  }
}
@media (max-width: 1000px) {
  .main-header {
    margin: 0;
  }
}
.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-text__title {
  float: left;
  font-family: "Inter";
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.banner-text__title::after {
  content: "";
  background-image: url(../../assets/icons/dotted_line.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 53%;
  top: 108px;
  width: 40vw;
  height: 765px;
}
.banner-text__title-sub {
  font-family: "Inter";
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
  padding: 0 0 0 6rem;
}

.banner-text__subtitle {
  max-width: 53.5rem;
  font-family: "Inter";
  font-size: 24px;
  color: #E0E5F3;
  padding: 2rem 0;
  width: 515px;
  min-height: 70px;
  padding: 2rem 0;
}

.banner-text__world-class {
  max-width: 200px;
  float: left;
}

.banner-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 30%;
  position: relative;
}
.banner-text-container::before {
  content: "";
  background-image: url(../../assets/icons/play\ video.svg);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10%;
  z-index: 11;
  width: 150px;
  height: 150px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 50%;
}

.banner-text__development {
  width: 375px;
  position: relative;
  top: -150px;
  right: -1rem;
  border-radius: 65px;
}

.banner-text__scroll-down {
  font-family: "Inter";
  font-size: 14px;
  color: #E0E5F3;
  text-decoration: none;
  display: block;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: relative;
  top: -5rem;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.banner-text__scroll-down:hover {
  color: #ffc93e;
}
.banner-text__scroll-down::before {
  content: "◀";
  display: inline-block;
  padding: 0 5px;
}

.banner-text__perfomance-img {
  position: absolute;
  top: 16rem;
  left: -45rem;
  border-radius: 30px;
  z-index: 1;
  max-width: 241px;
}

.banner-text__perfomance-circle {
  position: absolute;
  left: -31rem;
  top: 37rem;
  z-index: 0;
  width: 9vw;
}

@media (max-width: 1000px) {
  .banner-text__title {
    font-size: 120px;
  }
  .banner-text__title::after {
    content: "";
    background-image: url(../../assets/icons/dotted_line\ adaptiv.svg);
    left: 20%;
    top: 110px;
    width: 60vw;
  }
  .banner-text__title-sub {
    font-size: 120px;
    padding: 0 0 0 8rem;
  }
  .banner-text__world-class {
    max-width: 170px;
    float: left;
  }
  .banner-text__development {
    width: 300px;
    position: relative;
    top: 20px;
    right: -24rem;
    border-radius: 65px;
  }
  .banner-text-container {
    margin: 0 0 25% 5%;
  }
  .banner-text-container::before {
    content: "";
    background-image: url(../../assets/icons/play\ video.svg);
    bottom: -70px;
    width: 120px;
    height: 120px;
    right: -75px;
  }
  .banner-text-container::before:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .banner-text__perfomance-img {
    position: absolute;
    top: 14.5rem;
    left: -40rem;
    width: 20vw;
    height: 30vh;
  }
  .banner-text__perfomance-circle {
    position: absolute;
    left: -13rem;
    top: 55rem;
    z-index: 0;
    width: 12vw;
  }
  .banner-text__scroll-down {
    position: relative;
    left: 25%;
    top: 5%;
  }
}
@media (max-width: 500px) {
  .banner-text {
    max-width: 500px;
  }
  .banner-text__title {
    font-size: 70px;
  }
  .banner-text__title::after {
    left: 17%;
    top: 8%;
    width: 340px;
  }
  .banner-text__title-sub {
    font-size: 70px;
    padding: 0;
  }
  .banner-text__subtitle {
    max-width: 80rem;
    font-size: 18px;
    padding: 2rem 0;
    width: 515px;
    min-height: 70px;
    padding: 3rem 0;
  }
  .banner-text__world-class {
    max-width: 100px;
  }
  .banner-text__development {
    width: 270px;
    position: static;
    margin-bottom: 3rem;
  }
  .banner-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 -10%;
  }
  .banner-text-container::before {
    content: "";
    background-image: url(../../assets/icons/play\ video.svg);
    bottom: 220px;
    width: 120px;
    height: 120px;
    right: 150px;
  }
  .banner-text__scroll-down {
    display: none;
  }
  .general__button-baner {
    display: none;
  }
  .banner-text__perfomance-img {
    position: relative;
    width: 41vw;
    top: 100px;
    left: 30px;
    z-index: 0;
  }
  .banner-text__perfomance-circle {
    position: absolute;
    left: 35rem;
    top: 680px;
    z-index: 0;
    width: 19vw;
  }
}
@media (max-width: 414px) {
  .banner-text__title {
    position: relative;
  }
  .banner-text__title::after {
    position: absolute;
    right: 0.5em;
  }
}
.about-agency__block {
  max-width: 113.963rem;
  margin: 0 auto;
  padding-top: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about-agency__text {
  font-family: "Inter";
  width: 50%;
}
.about-agency__text-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.about-agency__text-subtitle {
  padding-top: 4rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #E0E5F3;
}
.about-agency__text-button {
  margin-top: 4.8rem;
}

.about-agency__photos {
  position: relative;
  z-index: 0;
}
.about-agency__photos::after {
  content: url(../../assets/icons/circle_line.png);
  position: absolute;
  z-index: -1;
  right: 0;
  top: 85%;
  left: 85%;
}

.statistics-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 23.7rem;
}
.statistics-bars .statistics-bar {
  padding-top: 14.1rem;
}
.statistics-bars .statistics-bar__title {
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.statistics-bars .statistics-bar__subtitle {
  color: #E0E5F3;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 1000px) {
  .about-agency__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0 0rem 0rem;
  }
  .about-agency__text {
    width: 100%;
  }
  .presentation-photos {
    padding-top: 25px;
  }
  .statistics-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 23.7rem;
  }
  .statistics-bars .statistics-bar {
    padding-top: 14.1rem;
  }
  .statistics-bars .statistics-bar__title {
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }
  .statistics-bars .statistics-bar__subtitle {
    color: #E0E5F3;
    font-family: "Inter";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about-agency__text-title {
    padding-top: 160px;
  }
  .about-agency__text-button {
    border-radius: 50px;
  }
  .about-agency__photos {
    position: relative;
    z-index: 0;
  }
  .about-agency__photos::after {
    content: url(../../assets/icons/circle_line.png);
    position: absolute;
    z-index: -1;
    right: 0;
    top: 85%;
    left: 80%;
  }
  .statistics-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 23.7rem;
  }
  .statistics-bars .statistics-bar {
    padding-top: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-bars .statistics-bar__title {
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 700;
    font-size: 48px;
    text-align: center;
  }
  .statistics-bars .statistics-bar__subtitle {
    color: #E0E5F3;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.approach {
  padding-top: 12rem;
}

.approach-background {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #fec83e), color-stop(40%, #353F5B));
  background: linear-gradient(to right, #fec83e 40%, #353F5B 40%);
}
.approach-background .approach-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15.1rem 0rem 0rem 11rem;
}

.approach-demonstration {
  position: relative;
  bottom: 5rem;
  z-index: 1;
}
.approach-demonstration__image {
  max-width: 65rem;
  min-height: 66.6rem;
  border-radius: 70px;
}

.approach-text {
  font-family: "Inter";
  color: #FFFFFF;
  padding-left: 10rem;
  text-align: center;
}
.approach-text__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  position: relative;
}
.approach-text__title::after {
  position: absolute;
  content: url(../../assets/icons/circle_line.png);
  right: 67rem;
  bottom: 0;
  z-index: 0;
}
.approach-text__subtitles {
  color: #E0E5F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4.2rem;
  text-align: left;
}
.approach-text .approach-text__subtitles--top {
  padding-top: 5rem;
}
.approach-text__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.25rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.approach-text__subtitle::before {
  content: url(../../assets/icons/check-circle.png);
}
.approach-text__comments {
  padding: 1.8rem 0 0 5.4rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 80%;
}

@media (max-width: 1000px) {
  .approach-background {
    background: -webkit-gradient(linear, left top, left bottom, from(#172048), color-stop(75%, #172048), color-stop(75%, #ffc93e), to(#ffc93e));
    background: linear-gradient(top, #172048 0%, #172048 75%, #ffc93e 75%, #ffc93e 100%);
  }
  .approach-background .approach-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.servise-container {
  max-width: 1140px;
  margin: 0 auto;
}

.servise-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
}
.servise-title__text {
  font-family: "Inter";
  color: #FFFFFF;
  max-width: 38.2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.servise-title .servise-title__text-button {
  margin: 0;
}

.servise-cards {
  display: grid;
  padding-top: 4rem;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}
.servise-cards .servise-card {
  background-color: #353f5b;
  padding: 8.83rem 4.1rem 8.3rem 3.4rem;
  font-family: "Inter";
  height: 552px;
}
.servise-cards .servise-card .card__title {
  padding-top: 2.933rem;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
.servise-cards .servise-card .card__paragraph {
  color: #E0E5F3;
  padding-top: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.servise-cards .servise-card--border-top-left {
  border-radius: 50px 0px 0px 0px;
}
.servise-cards .servise-card--border-top-right {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  border-radius: 0px 50px 0px 0px;
}
.servise-cards .servise-card--border-bottom-left {
  border-radius: 0px 0px 0px 50px;
}
.servise-cards .servise-card--border-bottom-right {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  border-radius: 0px 0px 50px 0px;
}

@media (max-width: 500px) {
  .servise-cards {
    grid-template-columns: 1fr;
  }
  .servise-card--border-top-right {
    display: none;
  }
  .servise-card--border-bottom-left {
    display: none;
  }
  .servise-card--border-bottom-right {
    display: none;
  }
  .servise-title__text {
    font-family: "Inter";
    color: #FFFFFF;
    max-width: 38.2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .servise-title__text-button {
    border: none;
    color: #ffc93e;
    background-color: #172048;
  }
}
.our-work-container {
  max-width: 1140px;
  margin: 0 auto;
}

.work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18rem 0rem 4.8rem 0rem;
}
.work-title__text {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
}
.work-title__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 43%;
}
.work-title__navigation-link {
  font-family: "Inter";
  font-size: 16px;
  color: #FFFFFF;
  padding: 1.2rem 0 0;
  cursor: pointer;
}
.work-title__navigation-link:hover {
  color: #ffc93e;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.2rem;
}
.projects__card-image {
  border-radius: 50px;
  width: 100%;
}
.projects__card-title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  padding: 3.2rem 0rem 3.2rem 0rem;
  max-width: 39.3rem;
}
.projects__card-paragraph {
  font-family: "Inter";
  color: #E0E5F3;
  font-size: 16px;
}

.projects__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .work-title {
    overflow: hidden;
  }
  .work-title__navigation-link {
    padding: 32px 0 0 25px;
  }
  .work-title__navigation {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .our-work {
    padding-top: 100px;
  }
  .work-title {
    padding: 4rem 0 2.4rem;
  }
  .work-title__text {
    font-size: 24px;
  }
  .work-title__navigation {
    width: 100%;
    overflow: hidden;
  }
  .work-title__navigation-link {
    padding: 32px 0 0 25px;
  }
  .projects {
    padding-left: 68px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .projects .projects__card-image--active {
    display: none;
  }
  .projects__card-image {
    border-radius: 50px;
    padding: 0 0.7rem 0.7rem;
    width: 100%;
  }
  .projects__card-title {
    display: none;
  }
  .projects__card-paragraph {
    display: none;
  }
  .projects__card-image {
    width: 100%;
  }
  .projects__button {
    display: none;
  }
  .projects__card-image {
    height: 295px;
    width: 300px;
    margin-bottom: 20px;
  }
}
.reviews {
  position: relative;
}

.reviews__title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  padding: 12rem 0rem 4.8rem 14rem;
}

.reviews-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.reviews-cards__reviews-card {
  max-width: 75rem;
  background-color: #353f5b;
  border-radius: 50px;
  padding: 5.4rem 2.4rem 5.3rem 3.25rem;
  position: relative;
}

.reviews-cards__reviews-card-left {
  margin: 0 3.2rem 0 14rem;
}

.reviews-card__paragraph {
  font-family: "Inter";
  color: #E0E5F3;
  font-size: 16px;
  width: 62rem;
  padding: 4rem 0;
}
.reviews-card__pointer::after {
  content: url(../../assets/icons/Vector-pointer-left.png);
  display: block;
  position: absolute;
  top: 45%;
  left: -4%;
}

.reviews-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-card-user--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.user__photo {
  border-radius: 50px;
  float: left;
  margin-right: 1.6rem;
  width: 70px;
  height: 70px;
}
.user__name {
  font-family: "Inter";
  color: #FFFFFF;
  font-size: 18px;
  padding: 1rem;
  width: 255px;
}
.user__profession {
  font-family: "Inter";
  color: #ffc93e;
  font-size: 16px;
}

.user__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

@media (max-width: 500px) {
  .reviews__title {
    font-size: 20px;
  }
  .user__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reviews-cards__reviews-card {
    padding: 2.65rem 0.5rem 2.9rem 1.55rem;
  }
  .reviews-cards__reviews-card-left {
    margin: 0 1.6rem 20px 0rem;
  }
  .reviews-card__paragraph {
    line-height: 30px;
    color: white;
    width: 265px;
    padding: 2rem 0;
  }
  .reviews-card__pointer::after {
    content: "";
  }
  .reviews-card-user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user__stars {
    padding-left: 80px;
  }
  .reviews-card__icon-quote {
    padding-left: 100px;
  }
}
.blog-container {
  max-width: 1140px;
  margin: 0 auto;
}

.blog__title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  padding: 12rem 0 4.8rem;
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.2rem;
}

.blog-card__blog-image {
  border-radius: 50px;
  margin: 0 0 2.9rem;
  width: 100%;
}
.blog-card__badge {
  font-family: "Inter";
  background-color: #f8f8f8;
  color: #0c1430;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 36px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.blog-card__badge:hover {
  color: #ffc93e;
}
.blog-card__name-data {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  padding: 1.6rem 0;
}
.blog-card__title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
}

.general__button-blog {
  margin: 2rem 0rem 11.2rem 0rem;
}

@media (max-width: 500px) {
  .blog {
    padding-top: 75px;
  }
  .blog__title {
    font-size: 24px;
    padding: 4rem 0rem 2.4rem;
  }
  .blog-cards {
    overflow: hidden;
  }
  .blog-cards__blog-card {
    padding: 0 0.7rem 20px;
  }
  .blog-card__blog-image {
    border-radius: 50px;
    margin: 0 0 1.45rem;
    min-width: 327px;
    height: 184px;
  }
  .blog-card__badge {
    margin-left: 34%;
  }
  .blog-card__name-data {
    text-align: center;
    padding: 1.5rem 0;
  }
  .blog-card__title {
    font-size: 20px;
    text-align: center;
    line-height: 38px;
  }
  .general__button-blog {
    margin-left: 90px;
  }
  .pagination-blog {
    margin-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .blog-card__blog-image {
    min-width: 280px;
  }
  .blog-card__badge {
    margin-left: 30%;
  }
  .general__button-blog {
    margin-left: 60px;
  }
  .pagination-blog {
    margin-bottom: 60px;
  }
}
.main-footer {
  background-color: #353F5B;
}

.footer-requisites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  padding: 0 2rem;
}

.footer__form {
  padding: 80px 48px;
  background-color: #ffc93e;
  border-radius: 30px;
  margin-top: 4.8rem;
}

.form__dotes-colum {
  max-width: 19px;
  max-height: 83px;
}
.form__dotes-colum-horizon {
  position: relative;
  top: -65px;
}
.form__form-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  padding: 0 0 2rem;
}
.form__email {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #172048;
  width: 100%;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
.form__email:focus {
  outline: none;
}
.form__email::after {
  content: ">";
  display: inline-block;
  width: 110px;
  height: 110px;
}

.form__stroke-arrow {
  position: relative;
}
.form__stroke-arrow::after {
  content: url(../../assets/icons/Stroke-arrow.png);
  position: absolute;
  right: 0;
}

.requisites-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__inform {
  padding: 2.5rem;
}

.inform__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  color: #E0E5F3;
  padding: 0 0 0.8rem;
}
.inform__street {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #E0E5F3;
  max-width: 200px;
}
.inform__phone {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #E0E5F3;
  padding: 0 0 0.8rem;
}
.inform__contact-email {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #E0E5F3;
}

.footer-additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4.8rem 2rem;
}

.rights__title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E0E5F3;
}

.privacy__title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E0E5F3;
}

.additions-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.7rem;
}

.social-link {
  padding: 0 13.5px;
  cursor: pointer;
}

.dotes-column {
  position: absolute;
  left: 12rem;
  top: 2rem;
}
.dotes-column .form__dotes-colum {
  position: relative;
  top: 2rem;
}

@media (max-width: 500px) {
  .main-footer {
    margin-top: 100px;
  }
  .footer__form {
    padding: 60px 48px;
    background-color: #ffc93e;
    border-radius: 30px;
    margin-top: 10rem;
  }
  .cards__inform {
    padding: 3rem 0 0;
  }
  .footer-requisites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .requisites-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .additions-rights {
    display: none;
  }
  .footer-additions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.4rem 1rem;
  }
  .privacy__title {
    padding-bottom: 20px;
    width: 100px;
    text-align: center;
    line-height: 65px;
  }
  .dotes-column {
    display: none;
  }
  .inform__title {
    text-align: center;
  }
  .inform__street {
    text-align: center;
  }
  .inform__phone {
    text-align: center;
    padding-top: 20px;
  }
  .inform__contact-email {
    text-align: center;
    padding-top: 20px;
  }
  .general__button-blog {
    margin-top: 35px;
  }
}