@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Inter&family=Open+Sans&family=Raleway&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #172048;
  background-size: contain;
}

.main-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0px 15px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15rem 0 15rem;
  padding-top: 3rem;
}
.main-header .header-logo__dalio-icon {
  cursor: pointer;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.header-navigation__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter";
}
.header-navigation__link:hover {
  color: yellow;
}

.header-content__burger-menu {
  width: 16px;
  height: 1px;
  background-color: white;
}
.header-content__burger-menu::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 1px;
  background-color: white;
  margin-top: 3px;
}

.banner-text {
  text-align: center;
  padding-top: 6.9rem;
  max-width: 700px;
  margin: 0 auto;
}
.banner-text__title {
  font-weight: 70rem;
  font-size: 15rem;
  line-height: 18.2rem;
  color: #FFFFFF;
  font-family: "Inter";
}
.banner-text__title--active {
  padding-right: 21rem;
}
.banner-text__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 40rem;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #FFFFFF;
  max-width: 515px;
  text-align: left;
  padding-top: 4rem;
}
.banner-text__button {
  display: block;
  font-size: 18px;
  padding: 1.5rem 4.4rem 1.5rem 4.5rem;
  border-radius: 3rem;
  background-color: #ffc93e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4.4rem;
}
.banner-text__button:hover {
  background-color: transparent;
  cursor: pointer;
}

.banner-text__perfomance {
  position: relative;
  border-radius: 30px;
  bottom: 5rem;
}

.about-agency__block {
  max-width: 113.963rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about-agency__text {
  font-family: "Inter";
  color: #FFFFFF;
  width: 50%;
}
.about-agency__text-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
}
.about-agency__text-subtitle {
  padding-top: 4rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.about-agency__text-button {
  font-size: 18px;
  padding: 1.5rem 4.4rem 1.5rem 4.5rem;
  border-radius: 3rem;
  background-color: #ffc93e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4.8rem;
}

.about-agency__photos::after {
  content: url(../../assets/icons/circle_line.png);
  position: absolute;
  right: 0;
  top: 85%;
  left: 92%;
}

.statistics-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 23.7rem;
}
.statistics-bars .statistics-bar {
  padding-top: 14.1rem;
}
.statistics-bars .statistics-bar__title {
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.statistics-bars .statistics-bar__subtitle {
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}