@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Inter&family=Open+Sans&family=Raleway&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #172048;
  background-size: contain;
}

.main-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0px 15px;
}

.general-button {
  display: block;
  border: 1px solid white;
  font-size: 18px;
  padding: 1.5rem 4.4rem 1.5rem 4.5rem;
  border-radius: 3rem;
  background-color: #ffc93e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4.4rem;
}
.general-button:hover {
  background-color: transparent;
  cursor: pointer;
  color: #ffc93e;
  border: 1px solid #ffc93e;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15rem 0 15rem;
  padding-top: 3rem;
}
.main-header .header-logo__dalio-icon {
  cursor: pointer;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.header-navigation__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter";
}
.header-navigation__link:hover {
  color: yellow;
}

.header-content__burger-menu {
  width: 16px;
  height: 1px;
  background-color: white;
}
.header-content__burger-menu::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 1px;
  background-color: white;
  margin-top: 3px;
}

.banner-text {
  text-align: center;
  padding-top: 6.9rem;
  max-width: 700px;
  margin: 0 auto;
}
.banner-text__title {
  font-weight: 70rem;
  font-size: 15rem;
  line-height: 18.2rem;
  color: #FFFFFF;
  font-family: "Inter";
}
.banner-text__title--active {
  padding-right: 21rem;
}
.banner-text__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 40rem;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #E0E5F3;
  max-width: 515px;
  text-align: left;
  padding-top: 4rem;
}

.banner-text__perfomance {
  position: relative;
  border-radius: 30px;
  bottom: 5rem;
}

.about-agency__block {
  max-width: 113.963rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about-agency__text {
  font-family: "Inter";
  width: 50%;
}
.about-agency__text-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.about-agency__text-subtitle {
  padding-top: 4rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #E0E5F3;
}
.about-agency__text-button {
  margin-top: 4.8rem;
}

.about-agency__photos {
  position: relative;
  z-index: 0;
}
.about-agency__photos::after {
  content: url(../../assets/icons/circle_line.png);
  position: absolute;
  z-index: -1;
  right: 0;
  top: 85%;
  left: 85%;
}

.statistics-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 23.7rem;
}
.statistics-bars .statistics-bar {
  padding-top: 14.1rem;
}
.statistics-bars .statistics-bar__title {
  color: #FFFFFF;
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.statistics-bars .statistics-bar__subtitle {
  color: #E0E5F3;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.approach {
  padding-top: 12rem;
}

.approach-background {
  width: 100%;
  min-height: 65.8vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #fec83e), color-stop(40%, #353F5B));
  background: linear-gradient(to right, #fec83e 40%, #353F5B 40%);
}
.approach-background .main-container--approach-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15.1rem 0rem 0rem 11rem;
}

.approach-demonstration {
  position: relative;
  bottom: 5rem;
  z-index: 1;
}
.approach-demonstration__image {
  max-width: 65rem;
  min-height: 66.6rem;
  border-radius: 70px;
}

.approach-text {
  font-family: "Inter";
  color: #FFFFFF;
  padding-left: 10rem;
  text-align: center;
}
.approach-text__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  position: relative;
}
.approach-text__title::after {
  position: absolute;
  content: url(../../assets/icons/circle_line.png);
  right: 67rem;
  bottom: 0;
  z-index: 0;
}
.approach-text__subtitles {
  color: #E0E5F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4.2rem;
  text-align: left;
}
.approach-text .approach-text__subtitles--top {
  padding-top: 5rem;
}
.approach-text__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.25rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.approach-text__subtitle::before {
  content: url(../../assets/icons/check-circle.png);
}
.approach-text__comments {
  padding: 1.8rem 0 0 5.4rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 80%;
}

.servise-container {
  max-width: 1140px;
  margin: 0 auto;
}

.servise-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
}
.servise-title__text {
  font-family: "Inter";
  color: #FFFFFF;
  max-width: 38.2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.servise-cards {
  display: grid;
  padding-top: 4rem;
  gap: 3rem;
  grid-template-columns: 555px 555px;
}
.servise-cards .servise-card {
  background-color: #353f5b;
  padding: 8.83rem 4.1rem 8.3rem 3.4rem;
  font-family: "Inter";
  height: 552px;
}
.servise-cards .servise-card .card__title {
  padding-top: 2.933rem;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
.servise-cards .servise-card .card__paragraph {
  color: #E0E5F3;
  padding-top: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.servise-cards .servise-card--border-top-left {
  border-radius: 50px 0px 0px 0px;
}
.servise-cards .servise-card--border-top-right {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  border-radius: 0px 50px 0px 0px;
}
.servise-cards .servise-card--border-bottom-left {
  border-radius: 0px 0px 0px 50px;
}
.servise-cards .servise-card--border-bottom-right {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  border-radius: 0px 0px 50px 0px;
}

.our-work-container {
  max-width: 1140px;
  margin: 0 auto;
}

.work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18rem 0rem 4.8rem 0rem;
}
.work-title__text {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
}
.work-title__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 43%;
}
.work-title__navigation-link {
  font-family: "Inter";
  font-size: 16px;
  color: #FFFFFF;
  padding: 1.2rem 0 0;
  cursor: pointer;
}
.work-title__navigation-link:hover {
  color: #ffc93e;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.2rem;
}
.projects__card-image {
  border-radius: 50px;
  width: 100%;
}
.projects__card-title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  padding: 3.2rem 0rem 3.2rem 0rem;
  max-width: 39.3rem;
}
.projects__card-paragraph {
  font-family: "Inter";
  color: #E0E5F3;
  font-size: 16px;
}

.reviews {
  position: relative;
}

.reviews__title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  padding: 12rem 0rem 4.8rem 14rem;
}

.reviews-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.reviews-cards__reviews-card {
  max-width: 75rem;
  background-color: #353f5b;
  border-radius: 50px;
  padding: 5.4rem 2.4rem 5.3rem 3.25rem;
  position: relative;
}

.reviews-cards__reviews-card-left {
  margin: 0 3.2rem 0 14rem;
}

.reviews-card__paragraph {
  font-family: "Inter";
  color: #E0E5F3;
  font-size: 16px;
  width: 62rem;
  padding: 4rem 0;
}
.reviews-card__pointer::after {
  content: url(../../assets/icons/Vector-pointer-left.png);
  display: block;
  position: absolute;
  top: 45%;
  left: -4%;
}

.reviews-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-card-user--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.user__photo {
  border-radius: 50px;
  float: left;
  margin-right: 1.6rem;
  width: 70px;
  height: 70px;
}
.user__name {
  font-family: "Inter";
  color: #FFFFFF;
  font-size: 18px;
  padding: 1rem;
  width: 255px;
}
.user__profession {
  font-family: "Inter";
  color: #ffc93e;
  font-size: 16px;
}

.user__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.blog-container {
  max-width: 1140px;
  margin: 0 auto;
}

.blog__title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  padding: 12rem 0 4.8rem;
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.2rem;
}

.blog-card__blog-image {
  border-radius: 50px;
  margin: 0 0 2.9rem;
  width: 100%;
}
.blog-card__badge {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 36px;
  cursor: pointer;
}
.blog-card__badge:hover {
  color: #ffc93e;
}
.blog-card__name-data {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  padding: 1.6rem 0;
}
.blog-card__title {
  font-family: "Inter";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
}

.general__button-blog {
  margin-top: 2rem;
}

.main-footer {
  background-color: #353F5B;
}